body{
    margin: 0;
    padding: 0;
    background-color: #fffbf7;
}

h1{
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #025157;
    margin-bottom: 10px;
}

.main p{
    color: #8b8b8bcc;
    font-family: 'Slabo 27px', serif;    
    font-size: 20px;
    font-weight: 400;
}

button{
    color: #fff;
    background-color: #025157;
}

.header{
    margin: 40px 20px 0;
    font-size: 0;
}

.header li{
    display: inline;
    margin: 0 25px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo{
    width: 15%;
}

.logo img{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions a{
    color: #67b54b;
    padding: 0 25px;
}

.actions button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}

.main{
    margin-top: 285px;
    text-align: center;
}

.pre-form{
    color: #025157 !important;
}

h2{
    font-family: 'Alegreya Sans', sans-serif;
    color: #025157;
    font-weight: 900;
    font-size: 40px;
}

.article{
    color: #343434;
}

.main-text{
    font-family: 'Slabo 27px', serif;
    color: #46484c !important;
    font-weight: 500 !important;
    font-size: 24px !important;
}

.promo{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 100px auto;
    column-gap: 20px;
}

.explain-video{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.explain-video img{
    width: 120px;
    margin-top: 10px;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}